<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="SqlClient Data Provider"
			 invariant="Microsoft.Data.SqlClient"
			 description=".Net Framework Data Provider for SqlServer"
			 type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
		</DbProviderFactories>
		<connectionStrings>
			<add name="connectionString" connectionString="Data Source=localhost; Initial Catalog=NamesDb; Integrated Security=True"/>
		</connectionStrings>
	</system.data>
</configuration>